
.bottom{
	color:#000000; 
	font-family:Courier New; 
	background:#C0C0C0; 
 }
.bottomTable{
	margin-left:5%; 
	margin-right:5%
}
.bottomRow1{
	text-align:center
}
.bottomRow2{}
.bottomRow1 td{
	width:30%; 
	padding:5px 15px 5px 15px
}
.bottomRow2 td{
	width:30%; 
	padding:5px 15px 5px 15px}
.googleMap img{
	height:100px; 
	width:60%; margin-left:20%; 
	margin-right:20%
}
.follow img{
	width:35px; 
	height:35px; padding:0px 11px}


.footer{
	padding:10px;
	background:#030303;
	color:#ffffff; 
	text-align:center
}
