*{margin:0;padding:0}
body{
	font-family:Arial;
	font-size:16px; 
	line-height:20px; 
	color:#FFFFFF
}

.fix{
	overflow:hidden
}
.main{
	width:100%; 
	display:block
}


/* Index.php */

.slider{
	width:100%; 
	background:#F6E7C8
}

.slider img{
	height:560px
}
